nav {
	font-size: 18px;
	padding-right: 120px;
}

body {
	font-family: 'Lato', sans-serif;
	background-color: #e8e6e4;
}
#headerRow {
	width: 100%;
}
#linkStyle {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
#nameStyle {
	color: #bb9e8e;
	font-size: 30px;
	margin-left: 50px;

}
.imgStyle img {
/*	width: 850px;*/
	padding: 10px 0px;
	margin-left: 0px;
}
.imgStyle h3 {
	padding: 0px 50px;
}
.imgStyle {
	padding: 20px 40px 30px 40px;
	border-bottom: #71bc9a;
/*	max-width: 760px;*/
	font-size: 20px;
	margin: 0px 0px 40px 0px;

}
.imgStyle2 {
	text-align: center;


}
.imgStyle2 img {
	float: left;
	width: 100%;

}
.imgStyle2 p {
	padding: 0 20px;
	margin: 0 15px;

}
.contentstyle {
	position: relative;
	padding-bottom: 10px;
}
.banner2 {
	padding: 200px;
}
.portStyle {
	position: relative;
	bottom: 15px;
	border-bottom: 4px solid #d0c8c5;
	color: #bb9e8e;
}
.bodyStyle {
	background-color: #b8b3c2;
}
.footerStyle {
	background-color: #fbfbfb;
	width: 100%;
	padding: 40px;
	text-align: center;

}
#logo {
	position: relative;
	bottom: 80px;
	margin: 0;
	padding: 0;
}
.carousel-caption {
	position: absolute;
background-color: #f1f0ee;
    margin: 11px -53px;
    padding: 0px 0px 0px 0px;
    width: 91.5%;

}
.rightStyle img  {
	margin: 15px;
	max-width: 60px;
}
.imgStyle1 {
	background-color: #fff;
	max-width: 600px;
	margin-bottom: 20px;
	padding-bottom: 20px;

}
.crop {
    max-width: 3000px;
}
.imageAndText {position: relative;} 
.imageAndText .col {position: absolute; z-index: 1; top: 0; left: 0;}

/*.leftStyle {
    max-width: 400px;
    min-width: 112px;
    margin-left: 120px;
    margin-bottom: 200px;
    text-align: center;
}
.contactStyle {
    max-width: 450px;
    min-width: 112px;
    margin-left: 259px;
    margin-bottom: 400px;
    text-align: center;
}*/
#imgStyle {
}
#port {
	text-align: center;
}
/*@media (max-width : 991px) {
		.rightStyle {
		margin: 20px;
		padding: 20px
		max-width: 990px;
}


@media(max-width: 990px) {
	.imgStyle  {
		margin: 120px;
		padding: 120px
		max-width: 100%;
	}
}*/